.project-item {
   width: 350px;
   height: 400px;
   display: flex;
   overflow: hidden;
   flex-direction: column;
   border: 1px solid var(--accentColor);
   border-radius: 10px;
   color: var(--black);
   transition: .4s;
}
.project-item:hover {
   filter: drop-shadow(0 0 2em var(--accentColor));
   transition: .4s;
}
.project-item__header img {
   width: 100%;
   height: 100%;
}
.project-item__header {
 height: 70%;
}
.project-item__footer {
   display: flex;
   justify-content: center;
   align-items: center;
}

body[data-theme='dark'] .project-item {
   color: var(--white);
}