.project-item {
   width: 380px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   border-radius: 15px;
   overflow: hidden;
   background-color: var(--block);
   transition: .4s;
}
.project-item:hover {
   filter: drop-shadow(0 0 2em var(--accentColor));
   transition: .4s;
}
.project-item-img  {
   width: 100%;
   height: 100%;
}
.project-item-img img {
   width: 100%;
   height: 100%;
   border-radius: 10px;
}
.project-item__header {
 height: 70%;
}
.project-item__footer {
   color: var(--white);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.project-button {
   align-self: self-start;
   border-radius: 10px;
   padding: 10px 20px;
   background-color: var(--black);
   color: var(--white);
   transition: .4s;
   border: none;
}
.project-button:hover {
   cursor: pointer;
   background-color: var(--white);
   color: var(--black);
   transition: .4s;
}


 body[data-theme='light'] .project-item {
   background-color: var(--white);
   border: 1px solid var(--accentColor);
} 

body[data-theme='light'] .project-item__footer {
  color: var(--black);
} 
@media (max-width: 500px) {
   .project-item  {
      width: 300px;
   }
}