.project-item {
   width: 380px;
   height: 400px;
   display: flex;
   flex-direction: column;
   border: 1px solid var(--accentColor);
   border-radius: 10px;
   overflow: hidden;
   color: var(--black);
   transition: .4s;
}
.project-item:hover {
   filter: drop-shadow(0 0 2em var(--accentColor));
   transition: .4s;
}
.project-item-img  {
   width: 100%;
   height: 100%;
   background-color: rgb(47, 47, 47);
   padding: 20px;
}
.project-item-img img {
   width: 100%;
   height: 100%;
   border-radius: 10px;
}
.project-item__header {
 height: 70%;
}
.project-item__footer {
   display: flex;
   justify-content: center;
   align-items: center;
}

body[data-theme='dark'] .project-item {
   color: var(--white);
}

body[data-theme='dark'] .project-item-img  {
   background-color: rgb(26, 26, 26);
}