.home-content {
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 10px;
}
.about-mi {
   width: 550px;
   height: 600px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid var(--accentColor);
   border-radius: 20px;
}


.about-mi__subtitle {
   text-align: center;
}
.about-mi__list {
   align-self: flex-start;
}
.anim {
   position: relative;
   border: none;
}

@media (max-width: 900px)  {
   .home-content {
     flex-direction: column;
   }
   .anim {
      display: none;
   } 
}

@media (max-width: 600px)  {
   .about-mi {
      width: 300px;
      padding: 10px;
   }
}

