.home-content {
   display: flex;
   align-items: center;
   justify-content: center;
}
.about-mi{
   width: 50%;
   height: 600px;
   border: 1px solid var(--accentColor);
   border-radius: 20px;
}

.about-mi {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.about-mi__subtitle {
   text-align: center;
}
.about-mi__list {
   align-self: flex-start;
}

