.footer {
   width: 100%;
   border-top: 1px solid var(--accentColor);
   background-color: var(--white);
}
.footer-content {
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--black);
}
