.project-info {
   width: 90%;
   margin: 0 auto;
}
.img-info {
   width: 100%;
}
.discription {
   padding: 15px 0;
}
.features-list {
   list-style-type: none;
   padding: 0;
}
.features-list li::before {
  content: '✓';
  margin-right: 10px;
  font-size: 18px;
}
.skils {
   padding: 15px 0;
   display: flex;
   justify-content: start;
   align-items: center;
   column-gap: 20px;
}
.technologies {
   padding: 10px 20px;
   border-radius: 20px;
   background-color: var(--black);
   color: var(--white);
}
.project-links {
   padding: 15px 0;
   display: flex;
   align-items: center;
   justify-content: start;
   column-gap: 20px;
}
.project-links a {
   padding: 10px 20px;
   border: 1px solid var(--accentColor);
   border-radius: 10px;
   background-color: var(--black);
   color: var(--accentColor);
   transition: .4s;
}
.project-links a:hover {
   cursor: pointer;
   border: 1px solid var(--white);
   color: var(--white);
   transition: .4s;
}


body[data-theme='light'] .technologies {
   background-color: var(--white);
   color: var(--black);
   border: 1px solid var(--black);
} 

body[data-theme='light'] .project-links a  {
   background-color: var(--white);
   color: var(--black);
   border: 1px solid var(--black);
} 

body[data-theme='light'] .project-links a:hover {
   color: var(--accentColor);
}


@media (max-width: 650px)  {
   .technologies {
      padding: 10px 10px;
      font-size: 12px;
   }
   .project-info {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .discription {
      padding-left: 10px;
   }
   .features {
      padding-left: 10px;
   }
}
